<phpunit bootstrap="public/index.php" colors="true">
    <testsuites>
        <testsuite name="Application Tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
